*{
  padding: 0px;
  margin: 0px;
}
body{
  max-width: 1400px;
  background: hsl(204, 43%, 93%);
   font-family: "Karla", serif;
   display: grid;
   align-items: center;
   justify-content: center;
   border-radius: 8px;
   margin-top: 50px;

}
.container{
background: #ccc;
}
.top{
  background-color: #fff;
padding: 45px;
}
.top h1{
  color: hsl(179, 62%, 43%);
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}
.top h2{
  margin-bottom: 16px;
  color:  hsl(71, 73%, 54%);
  font-size: 20px;
  font-weight: 400;
}
.top p{
  color: hsl(218, 22%, 67%);
  font-weight: 300;
}
.top p:last-child{
  margin-top: 10px;
}
.bottom{
  background:  hsl(179, 62%, 43%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: hsl(204, 43%, 93%);
}
.bottom .monthly-sub{
  padding: 45px;
  background:  hsl(179, 62%, 43%);
}
.full-access{
  font-size: 16px !important ;
 font-weight: 200;
}

.monthly-sub h3{
  margin-bottom: 14px;
  font-weight: 400;
}
.monthly-sub p{
  font-size: 14px;
}

.monthly-sub span{
  font-size: 30px;
  color:   hsl(204, 43%, 93%) !important;
  font-weight: 500;
  margin-right: 8px;
}
.monthly-sub p:nth-child(even){
display: grid;
grid-template-columns: auto 1fr;
align-items: center;
margin-bottom: 8px;
color: hsl(180, 61%, 64%) ;
font-weight: 300;
font-size: 16px;
}
.btn-sign{
  background: hsl(71, 73%, 54%);
  text-decoration: none;
  padding: 14px;
  display: grid;
  margin-top: 28px;
  text-align: center;
  color: hsl(62, 100%, 83%);
  border-radius: 6px;
}

.bottom .why-us{
  padding: 45px;
  background:  hsl(179, 48%, 50%);
}
.why-us h3{
margin-bottom: 18px;
}
.services-list li{
  list-style-type: none;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 200;
}
@media (max-width:375px) {
  .bottom {
    display: grid;
    grid-template-columns: 1fr;
  }
}